.navbar {
  height: 50px;
  border-bottom: 0.5px solid lightgray;
  display: flex;

  .wrapper {
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .search {
      display: flex;
      align-items: center;
      border: 0.5px solid lightgray;
      padding: 3px;
      input {
        border: none;
        outline: none;
        background: transparent;
      }
    }
  }
}
